.card {
    max-width: 500px;
    margin-top: 50px;
}
h1.text-center {
    color: #F9B041;
}
.form-control.bg-secondary.text-light,
.btn-warning,
.btn-secondary {
    background-color: #343a40;
    color: #f8f9fa;
}
