.container.text-center h2 {
    color: #F9B041;
}
.card.bg-success .card-title,
.card.bg-danger .card-title {
    font-weight: bold;
}
canvas#connectionsChart {
    max-width: 400px;
    height: 300px;
    margin: 0 auto;
}
