h2.text-warning,
h3 {
    color: #F9B041;
}
.table-dark {
    background-color: #343a40;
}
.table-hover tbody tr:hover {
    background-color: #495057;
}
.text-success {
    color: #28a745 !important;
}
.text-danger {
    color: #dc3545 !important;
}
