<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
    <title>Lista de Monitores</title>
</head>
<body>
<section layout:fragment="content">
    <link rel="stylesheet" th:href="@{/css/monitor_list.css}">
    <div class="container">
        <div th:if="${message}" class="alert alert-success" th:text="${message}"></div>
        <h2 class="text-warning mb-4">Lista de Monitoramento</h2>
        <p><a th:href="@{/monitor/add}" class="btn btn-warning">Adicionar novo monitoramento</a></p>
        <h3 class="mt-4">Monitoramento por URLs</h3>
        <table class="table table-dark table-hover table-striped">
            <thead>
            <tr>
               <!--<th>ID</th>-->
                <th>Endereço</th>
                <th class="text-center">Status</th>
                <th class="text-center">Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="monitor : ${monitors}" th:if="${monitor.type == 'url'}">
                <!--<td th:text="${monitor.id}">1</td>-->
                <td th:text="${monitor.address}">http://example.com</td>
                <td class="text-center">
                        <span th:text="${monitor.status}"
                              th:classappend="${monitor.status == 'OK' ? 'text-success' : 'text-danger'}">OK</span>
                </td>
                <td class="text-center">
                    <a th:href="@{/monitor/edit/{id}(id=${monitor.id})}" class="btn btn-primary btn-sm">Editar</a>
                    <form th:action="@{/monitor/delete/{id}(id=${monitor.id})}" method="POST" style="display:inline;">
                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza?');">Deletar</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <h3 class="mt-4">Monitoramento por Telnet</h3>
        <table class="table table-dark table-hover table-striped">
            <thead>
            <tr>
                <!--<th>ID</th>-->
                <th>Hostname</th>
                <th>Porta</th>
                <th class="text-center">Status</th>
                <th class="text-center">Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="monitor : ${monitors}" th:if="${monitor.type == 'telnet'}">
                <!--<td th:text="${monitor.id}">2</td>-->
                <td th:text="${monitor.address}">example.com</td>
                <td th:text="${monitor.port}">80</td>
                <td class="text-center">
                        <span th:text="${monitor.status}"
                              th:classappend="${monitor.status == 'OK' ? 'text-success' : 'text-danger'}">OK</span>
                </td>
                <td class="text-center">
                    <a th:href="@{/monitor/edit/{id}(id=${monitor.id})}" class="btn btn-primary btn-sm">Editar</a>
                    <form th:action="@{/monitor/delete/{id}(id=${monitor.id})}" method="POST" style="display:inline;">
                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza?');">Deletar</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>